[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonpickle = "==1.4.1"
json5 = "==0.8.4"
flask-classful = "==0.14.2"
p2pnetwork = "==0.0.3"
requests = "==2.22.0"
pycrypto = "==2.6.1"
Flask = "==1.1.1"
pandas = "*"
awscli = "*"
jupyter = "*"
boto3 = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.9"
